<hr />
<div>
  <div>
    <form [formGroup]="userForm">
      <table>
        <tr>
          <th>Номер</th>
          <td><input disabled="true" type="number" formControlName="id" /></td>
        </tr>
        <tr>
          <th>Имя</th>
          <td>
            <input type="text" formControlName="name" placeholder="Имя" />
          </td>
        </tr>
        <tr>
          <th>Имя пользователя</th>
          <td>
            <input
              type="text"
              formControlName="username"
              placeholder="Имя пользователя"
            />
          </td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td>
            <input type="text" formControlName="email" placeholder="E-mail" />
          </td>
        </tr>
        <tr>
          <th rowspan="4">Адрес</th>
          <td>
            <input type="text" formControlName="zipcode" placeholder="Индекс" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" formControlName="city" placeholder="Город" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" formControlName="street" placeholder="Улица" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" formControlName="suite" placeholder="Квартира" />
          </td>
        </tr>

        <tr>
          <th>Телефон</th>
          <td>
            <input type="text" formControlName="phone" placeholder="Телефон" />
          </td>
        </tr>
        <tr>
          <th>Сайт</th>
          <td>
            <input type="text" formControlName="website" placeholder="Сайт" />
          </td>
        </tr>
        <tr>
          <td colspan="2"><button type="button" (click)="sendUser()">
            Создание(POST) / Изменения(PUT)
          </button>
          <button (click)="resetForm()">Сброс</button></td>
        </tr>
      </table>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>Номер</th>
        <th>Имя</th>
        <th>Почта</th>
        <th>Адрес</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users.users; let i = index">
        <td>{{ user.id }}</td>
        <td>{{ user.name }} ({{ user.username }})</td>
        <td>{{ user.email }}</td>
        <td>
          {{ user.address.zipcode }} <br />
          {{ user.address.city }} <br />
          {{ user.address.street }} <br />
          {{ user.address.suite }} <br />
        </td>
        <td>
          <button type="button" (click)="editUser(user)">Изменить</button><br />
          <button type="button" (click)="deleteUser(i)">
            Удаление (DELETE)
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
