<hr />
<div>
  <div>
    <form [formGroup]="userForm">
      <table>
        <tr>
          <th>Номер</th>
          <th>Имя</th>
          <th>Имя пользователя</th>
          <th>E-mail</th>
          <th>Адрес</th>
          <th>Телефон</th>
          <th>Сайт</th>
        </tr>
        <tr>
          <td><input disabled="true" type="number" formControlName="id" /></td>
          <td><input type="text" formControlName="name" /></td>
          <td><input type="text" formControlName="username" /></td>
          <td><input type="text" formControlName="email" /></td>
          <td><input type="text" formControlName="address" /></td>
          <td><input type="text" formControlName="phone" /></td>
          <td><input type="text" formControlName="website" /></td>
        </tr>
      </table>
      <button type="button" (click)="sendUser()">
        Создание(POST) / Изменения(PUT)
      </button>
      <button (click)="resetForm()">Сброс</button>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>Номер</th>
        <th>Имя</th>
        <th>Почта</th>
        <th>Адрес</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users.users; let i = index">
        <td>{{ user.id }}</td>
        <td>{{ user.name }} ({{ user.username }})</td>
        <td>{{ user.email }}</td>
        <td>
          {{ user.address.zipcode }} <br />
          {{ user.address.city }} <br />
          {{ user.address.street }} <br />
          {{ user.address.suite }} <br />
        </td>
        <td>
          <button type="button" (click)="editUser(user)">Изменить</button><br />
          <button type="button" (click)="deleteUser(i)">
            Удаление (DELETE)
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
